<%- include ../partials/header.ejs %>

<!-- Content for the Add_Edit page -->
<% if(title == "Add a New Contact"){  %>
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <input type="hidden"
                        name="id"
                        value="<%= user._id %>"
                    >
                    <label for="FNTextField">First Name</label>
                    <input type="text" class="form-control"
                        id="FNTextField"
                        placeholder="Enter the First Name"
                        name="firstName" 
                        value="<%= user.firstName %>"
                        required>
                </div>
                <br />
                <div class="form-group">
                    <label for="LNTextField">Last Name</label>
                    <input type="text" class="form-control"
                        id="LNTextField"
                        placeholder="Enter the Last Name"
                        name="lastName" 
                        value="<%= user.lastName %>"
                        required>
                </div>
                <br />
                <div class="form-group">
                    <label for="PNTextField">Phone Number</label>
                    <input type="text" class="form-control"
                    id="PNTextField"
                    placeholder="Enter the phone number"
                    name="phoneNum" 
                    value="<%= user.phoneNum %>"
                    required>
                </div>
                <br />
                <div class="form-group">
                    <label for="EmailTextField">Email</label>
                    <input type="text" class="form-control"
                    id="EmailTextField"
                    placeholder="Enter the email"
                    name="email" 
                    value="<%= user.email %>"
                    required>
                </div>
                <br />
                <div class="form-group">
                    <label for="UNTextField">Username</label>
                    <input type="text" class="form-control"
                    id="UNTextField"
                    placeholder="Enter the username"
                    name="username" 
                    value="<%= user.username %>"
                    required>
                </div>
                <br />
                <div class="form-group">
                    <label for="PswdTextField">Password</label>
                    <input type="password" class="form-control"
                    id="PswdTextField"
                    placeholder="Enter the password"
                    name="password" 
                    value="<%= user.password %>"
                    required>
                </div>
                <br />
                <div class="form-group">
                    <label for="ConfirmTextField">Confirm Password</label>
                    <input type="password" class="form-control"
                    id="ConfirmTextField"
                    placeholder="Confirm the password"
                    name="confirmPass"
                    required>
                </div>
                <br />

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> 
                    Submit
                </button>
                
                <a href="/business/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

            </form>
        </div>
    </div>
</div>
<% } %>

<% if(title == "Edit Contact"){  %>
    <div class="container">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <h1><%= title %></h1>
    
                <form class="form" method="POST">
                    <div class="form-group">
                        <input type="hidden"
                            name="id"
                            value="<%= user._id %>"
                        >
                        <label for="FNTextField">First Name</label>
                        <input type="text" class="form-control"
                            id="FNTextField"
                            placeholder="Enter the First Name"
                            name="firstName" 
                            value="<%= user.firstName %>"
                            required>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="LNTextField">Last Name</label>
                        <input type="text" class="form-control"
                            id="LNTextField"
                            placeholder="Enter the Last Name"
                            name="lastName" 
                            value="<%= user.lastName %>"
                            required>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="PNTextField">Phone Number</label>
                        <input type="text" class="form-control"
                        id="PNTextField"
                        placeholder="Enter the phone number"
                        name="phoneNum" 
                        value="<%= user.phoneNum %>"
                        required>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="EmailTextField">Email</label>
                        <input type="text" class="form-control"
                        id="EmailTextField"
                        placeholder="Enter the email"
                        name="email" 
                        value="<%= user.email %>"
                        required>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="UNTextField">Username</label>
                        <input type="text" class="form-control"
                        id="UNTextField"
                        placeholder="Enter the username"
                        name="username" 
                        value="<%= user.username %>"
                        required>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="PswdTextField">Password</label>
                        <input type="password" class="form-control"
                        id="PswdTextField"
                        placeholder="Enter the password"
                        name="password" 
                        value="<%= user.password %>"
                        required>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="ConfirmTextField">Confirm Password</label>
                        <input type="password" class="form-control"
                        id="ConfirmTextField"
                        placeholder="Confirm the password"
                        name="confirmPass"
                        required>
                    </div>
                    <br />
    
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-edit"></i> 
                        Submit
                    </button>
                    
                    <a href="/business/list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> 
                        Cancel
                    </a>

                    <a href="/business/delete/<%= user._id %>" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i>
                        Delete
                    </a>
                </form>
            </div>
        </div>
    </div>
    <% } %>

<%- include ../partials/footer.ejs %>